<div class="bg">
	{{!--	Bootstrap classes:
				Phones	(Less than 768px):	col-xs-N
				Tablets (768px to  992px): 	col-s-N
				Medium	(992px to 1200px):	col-md-N
				Large	(1200px and up): 	col-lg-N	--}}
	<main class="wrapper col-xs-push-2 col-xs-8">
		<section>
			<h1 class="text-center">
				Game Menu
			</h1>

			<form action="login" id="loginForm" method="post">
				<a id="newGameBtn" href="/newGame" class="button button-primary-ghost">
					New Game
				</a>

				<a id="profileGameBtn" href="/profile" class="button button-primary-ghost">
					Profile
				</a>

				<a id="optionsBtn" href="/options" class="button button-primary-ghost">
					Options
				</a>

				<a id="logoutBtn" href="/logout" class="button button-primary-ghost">
					Logout
				</a>

				<div class="col-xs-push-2 col-xs-4">

				</div>
				<div class="col-xs-push-2 col-xs-4">

				</div>
			</form>
		</section>
	</main>
</div>