<main>
	{{!--	Bootstrap classes:
				Phones	(Less than 768px):	col-xs-N
				Tablets (768px to  992px): 	col-sm-N
				Medium	(992px to 1200px):	col-md-N
				Large	(1200px and up): 	col-lg-N	--}}

		<div id="map"></div>

		<!--<aside id="social">
			Social Section
		</aside>-->

		<section id="console">
			Console
		</section>

</main>