<div class="bg">
	{{!--	Bootstrap classes:
	Phones	(Less than 768px):	col-xs-N
	Tablets (768px to  992px): 	col-s-N
	Medium	(992px to 1200px):	col-md-N
	Large	(1200px and up): 	col-lg-N	--}}
	<main class="wrapper col-xs-push-2 col-xs-8">
		<section>
			<h1>
				Forgot Password?
			</h1>

			{{!-- Register success/fail msg
			{{#if registerMsg}}
			<div class="msg {{registerMsgCode}}">
				{{registerMsg}}
			</div>
			{{/if}} --}}

			<form action="forgotPassword" id="forgotPasswordForm" method="post">
				<input type="email" name="loginEmail" placeholder="E-mail / Login"/>

				<div class="col-xs-push-2 col-xs-4">
					<input type="submit" name="submitForgotPasswordFormBtn" value="Submit" class="button button-primary-ghost" />
				</div>
				<div class="col-xs-push-2 col-xs-4">
					<a id="backToLoginBtn" href="/" class="button button-secondary-ghost">
						Back to Login
					</a>
				</div>
			</form>
		</section>
	</main>
</div>